@media screen and (max-width: 1400px){
   #profile{
    height: 83vh;
    margin-bottom: 6rem;
   }
   .about-containers{
    flex-wrap: wrap;
   }
}
    
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #experience,
    .experience-details-container {
            margin-top: 2rem;
    }
    #profile,
    .section-container{
        display: block;
    }
   .arrow {
        display: none;
    }

    section,.section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section_pic-container{
        width: 275px;
        height: 275px;
       margin: 0 auto 14rem;
    }
    .about-containers{
        margin-top: 0;
    }
}
    

@media screen and (max-width: 600px){
    #contact, 
    footer{
        height: 40vh;
    }
    #profile {
        height: 60vh;
        margin-bottom: 0;
    }
    
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 11rem;
        
    }
    #about{
        margin-top: 14rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p {
        font-size: 1rem;
    }
    .nav-links li a{
        font-size: 0.86rem;
       font-weight: 800;
      
    }
    .nav-links{
        gap: 0.6rem;
    }
    .section_pic-container{
        width: auto;
        height: 16vw;
        justify-content: center;
    }
    .about-pic{
        transform: translate(-8px,+0px);
    }
    #imgsat{
        align-items: center;
        justify-content: center;
       transform: translate(+64px,+30px);
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }

    .about-containers{
        margin-top: 6rem;
    }
    .experience-details-container{
        margin-top: -5rem;
    }
   #contact{
   margin-top: 2rem;
   }
   .nav-links-container{
    margin-top: 4rem;
    margin-bottom: -8rem;
   
   }
  .text-container{
    margin-top: 9rem;
  }
   footer{
    height: 0vh;
   }
}

@media screen and (max-width: 896px) and (min-width: 414px) {
    .about-pic{
        transform: translate(+0px,+0px);
    }
  }


  @media screen and (max-width: 844px) and (min-width: 390px) {
    .about-pic{
        transform: translate(+0px,+0px);
    }
  }
